---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Bots from '../components/Bots.astro';
---

<Layout title="Bots - OpceanAI">
  <Header />
  <main class="pt-24">
    <Bots />
  </main>
</Layout>